.Login{
    text-align: center;
    background: linear-gradient(to right, #66c6f6, #55fe9b);
    padding: 50px;
  
    padding-left: 15%;
    padding-right: 30%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
  
}